################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/bin/x64/Release
/Source/.vscode
/Source/.vs
*.cache
